.top
{
    background-color:cornflowerblue;
    padding: 7px;
    
}
body
{
    margin: 0;
    background-image:url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat:repeat ;
    background-attachment:fixed;
    background-position: center;
    
}
.name
{
    margin-top: 0px;
    text-align: center;
}

nav
{
    background-color:none;
    padding-left:16px;
}

body nav a
{
    color:rgb(242, 236, 230);
    text-decoration:none;
}

body nav a:hover
{
    color:rgb(56, 34, 178);
    font-weight: bolder;
}

.right
{
    float: right;
    padding-right: 20px;
}

img
{
    border-radius: 50%;
    height: 150px ;
    width: 150px;
    float:right;
    padding-right:15px ;
    margin-top: 30px;
}

.Intro
{
    float: left;
    width: 50%;
    
}

.column::after
{
    content: "";
  display: table;
  clear: both;
}

.txt
{
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 65px;
    margin-left: 18px;
}

.txt:hover
{
    color: blue;
    font-weight: bolder;
}

#abouth
{
    padding-left: 6px;
    margin-bottom: 0;
    text-align: center;
}

#atxt
{
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.plang,.lang,.skills
{
    padding-left: 15px;
}