h1
{
  color: blue;
}

p{
  color: green;
}

a
{
  color: brown;
}


li
{
  color:chocolate;
}

/*style of points*/
ul
{
  list-style:square;
}

/*selecting class*/
.secondlist
{
  color:blue;
  font-weight: bold;
}

/*we can include more classes */
span.p2,.second
{
  font-weight: bold;
  color: red;
}

/*descendent combinator:selecting tag under tag*/
li em
{
  color: rebeccapurple;
}

/*Adjacent combinator:ele+ele like ignoring in b/w ele and considering respective*/
h1+p{
  font-family: Arial, Helvetica, sans-serif;
  
}

/*Pseudoclass selector:when some action is took place*/
a:hover
{
  color: blue;
  text-decoration: none;
}

body h1+p .special
{
  background-color: chartreuse;

}


/*id selector*/
#ids
{
  color:yellowgreen;
}

#laiq
{
  background-color:orange;
}

/*attribute selector:with particular attribute*/
li[class]
{
  color: royalblue;
}
/*present with a :~*/
li[class~="a"]
{
  font-size: 300%;
}

/* *:everything selector*/
*{
  list-style:circle;
}

/*images*/
.background1
{
  background-color:skyblue;
  background-image:url( shutterstock_376532611-og.jpg);
  /*width: 150%;
  height: 300%;
  background-size: 260%;*/
  background-size: 400px;
  background-repeat: no-repeat;
  width: 1350px;
}

.back
{
  background-image: url(shutterstock_376532611-og.jpg);
  background-size: 300px;
  background-repeat:no-repeat;
  width: 1000px;
  height:500px;
  background-position:left;
  background-attachment: scroll;
}


/*font*/
/*Pacifico font is took from html links*/
.back
{
  font-family: 'Pacifico',Georgia, 'Times New Roman', Times, serif;
  font-weight: 800px;
}

body+div
{
  color: rebeccapurple;

}

h3{
  color:black;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 3px 3px 4px rebeccapurple;
  text-align: right;
}

.text
{
  color: red;
  line-height: 5;
  text-indent: 30px;
  word-spacing:7px;
}

/*shorthand properties:all properties in 1 line*/
