*{
  box-sizing: border-box;
}

body
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px 20px;
  font-size: 15px;
  padding: 8px;
}

.container
{
  background-color: rgb(193, 218, 219);
  padding: 7px 18px 12px 8px;
  border: 2px solid black;
  border-radius: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea
{
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border-color: rgb(147, 197, 226);
}

fieldset
{
  background-color: lightsteelblue;
  border: 2px solid rgb(138, 91, 91);
}

.mainHeading
{
  text-align: center;
}

input[type="submit"]
{
  color:white;
  background-color: rgba(34, 204, 34, 0.836);
  padding: 4px 3px;
  border-radius: 3px;
  border:none;
  cursor: pointer;
  width: 100%;
}